* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at center, #234976, #121c2b);
  color: white;
  height: 100vh;
  padding: 20px;
}

.menu{
    display: flex;
    width: 40px;
    height: 95%;
    background-color: white;
    align-self: center;
    justify-self: left;
    border-radius: 50px;
    margin-left: 15px;
    justify-content: center;
    position: relative;
    padding: 5px;
    top: 0;
}

.contenedor {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.buscador {
  display: flex;
  height: 40px;
  width: 95%;
  background-color: white;
  border-radius: 51px;
  text-align: left;
  margin-top: 10px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url('../Statics/img/logo.png') center/cover no-repeat;
}

.titulo {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: bold;
}

.contenido {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
}

.albumes {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px 40px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 40px;
  max-width: 500px;
  flex-shrink: 0;
}

.sobresalir {
  padding: 10px 20px;
  background-color: #234976;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sobresalir:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #234976;
}


.album {
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
}

.album img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px;
  background-color: white;
  display: block;
  margin: 0 auto 10px auto;
}

.album p {
  font-size: 16px;
}

.reproductor {
    width: 35%;
    height: 250px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
    align-content: center;
    color: #292b2c;
}

.controles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.controles button {
  background: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controles button:hover {
  background: #ddd;
}
