<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejecutor de Métodos String</title>
    <link rel="stylesheet" href="./Ejemplo.css">
</head>
<body>
    <h1>Ejecutor de Métodos String</h1>
    
    <div class="contenedor">
        <label for="texto-input">Texto:</label>
        <input type="text" id="texto-input" placeholder='Ejemplo: "Hola mundo"'> 
    </div>
    <div id="resultadosBusqueda">
        <div class="result-pantalla" id="result-cancion"> </div>
        <div class="result-pantalla" id="result-autor"> </div>
        <div class="result-pantalla" id="result-album"> </div>
    </div>
    <script src="./buscar_palabra.js"></script>
</body>
