<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vista de Álbumes</title>
  <link rel="stylesheet" href="../Statics/styles/vistaDeÁlbumes.css" />
</head>
<body>
  <div class="contenedor">
    <header>
      <input type="text" placeholder="Busca algo :D" class="buscador">
      <img src="" alt="logo" class="logo">
    </header>

    <main>
      <h1 class="titulo">Artista</h1>
      <div class="contenido">
        <div class="albumes">
          <button class="album sobresalir">
            <img src="" alt="nombre1">
            <p>Álbum</p>
          </button>
          <button class="album sobresalir">
            <img src="" alt="nombre2">
            <p>Álbum</p>
          </button>
          <button class="album sobresalir">
            <img src="" alt="nombre3">
            <p>Álbum</p>
          </button>
          <button class="album sobresalir">
            <img src="" alt="nombre4">
            <p>Álbum</p>
          </button>
        </div>
        <div class="reproductor">
          <!--<div class="controles">
            <button>⤺</button>
            <button>⏯</button>
            <button>⤻</button>-->
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="../Dynamics/js/vistaDeÁlbumes.js"></script>
</body>
</html>
