<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Perfil</title>
    <link rel="stylesheet" href="..\Statics\styles\vistaperfil.css">
</head>
<body>
    <div class="contenedorPerfil">
        <div class="ladoIzquierdoPerfil">
            <button id="regresarBtn">Volver al inicio</button>
        </div>
        <div class="ladoDerechoPerfil">
            <div class="fotos">
                <img src="../Statics/media/imgs/fondoajo.png" class="fondoDelPerfil">
                <div class="sobreFondo">
                    <img src="../Statics/media/imgs/fotoajo.png" class="fotoDelPerfil">
                    <h1 id="nombreTitulo">(NOMBRE DEL USUARIO)</h1>
                </div>
            </div>
            <br>
            <div class="editarPerfilBtn">
               <button id="editarPerfil" > Editar Perfil</button> 
            </div>
            <div id="editarInfoPer" class="formularioEditarPerfil" style="display: none;">
                <label for="editarNombre">Nombre:</label>
                <input type="text" id="editarNombre" placeholder="Escribe tu nombre">

                <label for="editarDescripcion">Descripción:</label>
                <input type="text" id="editarDescripcion" placeholder="Añade una descripción">
                <div id="mensaje"></div>
                <button id="guardarCambios">Guardar</button>
            </div>
            <div class="infoDelUsuario">
                <p id="nombreUsuario">Nombre: </p>
                <p id="descripcionUsuario">Descripción: </p>
                <p id="correoUsuario">Correo: </p>
            </div>
        <script src="../Dynamics/js/vistaperfil.js"></script>
    </div>
</body>
</html>